@import "tailwindcss";

:root {
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d8;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --teal: #64ffda;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
  background-color: #0a192f;
}

body {
  background-color: #0a192f !important;
  color: #8892b0;
  font-family: var(--font-geist-sans), sans-serif;
}

::selection {
  background-color: #233554;
  color: #ccd6f6;
}
